body {
  margin: 0;
  background-color: #fbffef;
}
/* Set margin:0 to remove default margin on the page */

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #AAC8A7;
  color: #fff;
}
/* Added flexbox container to make it responsive and to place the element on the left and right sides of the page (for that justify-content:space between was added */
/* Added align-items:center to align h1 with nav elements */

nav ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}
/* Added list-style-type: none; to remove bullet points from unordered list */
/* Added flex-wrap: wrap; to make it responsive on smaller screens*/

nav a {
  color: #fff;
  text-decoration: underline;
}

li {
  font-size: 25px;
  padding: 20px;
}

h1 {
  margin: 20px;
}
/* Header */

/* Main */
.portfolio-img {
  float: right;
  margin: 10px;
}

p {
  text-align: justify;
  font-size: 25px;
  line-height: 1.7;
  color: #323b39;
  width: 90%;
}

h2 {
  color: #323b39;
  text-align: center;
  font-size: 30px;
}

.portfolio-img {
  margin: 5px;
  padding: 20px;
  border-radius: 35px;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 85%;
  margin: 0 auto;
  padding: 30px;
  flex-wrap: wrap;
}
/* Added justify-content: center */

.child-container, .child-container-two {
  margin: 20px 0 20px;
  padding: 20px;
}

.child-container {
  flex: 1;
}
/*Added flex:1 to make the container a bit smaller but to also align it with the rest of .child-container*/

.child-container-two {
  flex: 4;
  border-left: 2px solid #AAC8A7;
}
/* Added flex:4 to make it bigger than .child-container */

#app-photo {
  border: 5px solid #AAC8A7;
  display: flex;
  justify-content: center;
}

#app-photo:hover {
  background-color: #E3F2C1;
  opacity: 0.5;
}

.app-photo {
  display: flex;
  justify-content: center;
}

.abstract-image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* flex: 1; check if I need it or not*/ 
}
/* Added justify-content:center to place elements in the middle of the container */
/* Added flex-wrap:wrap, so elements in .abstract-image class would move to another row when the size of the page is smaller */

#abstract-image {
  border: 5px solid #AAC8A7;
  margin: 5px;
}

#abstract-image:hover {
  background-color: #E3F2C1;
  opacity: 0.5;
}

.contact-me ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.contact-me ul li a{
  text-decoration: underline;
  color: #323b39;
}

.resume {
  display: flex;
  justify-content: center;
}

h3 {
  color: #323b39;
  text-align: center;
}